.pager-diy {
  margin: 20px 6px;
  height: 34px;
  line-height: 34px;
}
.pager-input {
  width: 30px;
}
.pager-input input {
  padding-left: 3px;
  padding-right: 3px;
}
.pager-mgnlft15 {
  margin-left: 10px;
}
.pager-size {
  width: 85px;
  padding: 0;
}
.pagination .pager-item a {
  width: 20px;
  padding: 6px 1px;
  cursor: pointer;
}